<div id="<%= dom_id newobject %>">
  <p>
    <strong>Name:</strong>
    <%= newobject.Name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= newobject.Category %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= newobject.Details %>
  </p>

</div>
