<h1>Editing New Object</h1>

<%= render "form", newobject: @newobject %>

<br>

<div>
  <%= link_to "Show this New Object", @newobject %> |
  <%= link_to "Back to New Objects", newobjects_path %>
</div>
