<h1>Editing newobject</h1>

<%= render "form", newobject: @newobject %>

<br>

<div>
  <%= link_to "Show this newobject", @newobject %> |
  <%= link_to "Back to newobjects", newobjects_path %>
</div>
