<div id="<%= dom_id theory %>">
  <p>
    <strong>Name:</strong>
    <%= theory.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= theory.description %>
  </p>

  <% theory.assumptions.each do |assump| %>
    <p>
      <strong>Assumption:</strong>
      <%= assump.name %>
    </p>
  <% end %>

</div>
