<div style="padding-left: 20px; padding-right: 10px">

  <div class="engraved">
    <span>New theory</span>
  </div>

  <%= render "form", theory: @theory %>

  <br>

  <div>
    <%= link_to "Back to theories", theories_path %>
  </div>
</div>
