<p style="color: green"><%= notice %></p>

<h1>IDEAList</h1>

<div id="theories">
  <%= link_to "I want to look at theories", theories_path %>
</div>

<div id="assumptions">
  <%= link_to "I want to look at assumptions", assumptions_path %>
</div>

<div id="practices">
  <%= link_to "I want to look at practices", practices_path %>
</div>
