<p style="color: green"><%= notice %></p>

<h1>IDEAList</h1>

<div id="theories">
  <p>
    <em><%= link_to "I want to look at theories", theories_path %></em>
  </p>
</div>

<div id="assumptions">
  <p>
    <em><%= link_to "I want to look at assumptions", assumptions_path %></em>
  </p>
</div>

<div id="practices">
  <p>
    <em><%= link_to "I want to look at practices", practices_path %></em>
  </p>
</div>
