<div style="padding-left: 20px; padding-right: 10px">

  <div class="engraved">
    <span>Edit assumption</span>
  </div>

  <%= render "form", assumption: @assumption %>

  <br>

  <div>
    <%= link_to "Show this assumption", @assumption %> |
    <%= link_to "Back to assumptions", assumptions_path %>
  </div>
</div>
