<h1>Editing assumption</h1>

<%= render "form", assumption: @assumption %>

<br>

<div>
  <%= link_to "Show this assumption", @assumption %> |
  <%= link_to "Back to assumptions", assumptions_path %>
</div>
