<div id="<%= dom_id practice %>">
  <p>
    <strong>Name:</strong>
    <%= practice.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= practice.description %>
  </p>

  <% practice.assumptions.each do |assump| %>
    <p>
      <strong>Assumption:</strong>
      <%= assump.name %>
    </p>
  <% end %>
</div>
