<div style="padding-left: 20px; padding-right: 10px">

  <div class="engraved">
    <span>New practice</span>
  </div>

  <%= render "form", practice: @practice %>

  <br>

  <div>
    <%= link_to "Back to practices", practices_path %>
  </div>
</div>