<div style="padding-left: 20px; padding-right: 10px; padding-top: 15px">

  <div class="title-container" style="display: flex; align-items: center;">
    <%= link_to practices_path, class: "icon-link", style: "font-size: 20px; position: relative; padding-right: 5px; padding-top: 2px", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Back", onclick: "return confirmNavigation();" do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>

    <div class="engraved">
      <span>New Practice</span>
    </div>
  </div>

  <%= render "form", practice: @practice %>

  <br>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });

    function confirmNavigation() {
        return confirm('Do you want to go back?');
    }
</script>
