<div>
  <p>Normalized User Profile:<%= JSON.pretty_generate(@info)%></p>
  <p>User Profile:<%= JSON.pretty_generate(@user)%></p>
  <p>Login Provider:<%= JSON.pretty_generate(@provider)%></p>
  <p>User ID:<%= JSON.pretty_generate(@uid)%></p>
</div>